body {
  margin: 0;
  background: gainsboro;
  padding: 2mm;
  display: flex;
}

svg {
  display: block;
  margin: auto;
  max-width: 800px;
  background: whitesmoke;
  border-radius: 8mm;
}

.next-prev-link {
  flex-grow: 0.5;
  display: flex;
  flex-direction: column;
}
.next-prev-link > a {
  text-decoration: none;
  flex-grow: 1;
  font-size: 5em;
  border-radius: 8mm;
  margin: 8mm;
  color: silver;
  display: flex;
  align-items: center;
  justify-content: center;
}

.next-prev-link > a:hover {
  background: rgba(255, 255, 255, 0.2);
}
